[submodule "Code/Data_Acquisition_and_Understanding/learnedcardinalities"]
	path = Code/Data_Acquisition_and_Understanding/learnedcardinalities
	url = git@github.com:dacasals/learnedcardinalities.git
